body {
    background-color: rgb(66, 66, 66);
    font-family: 'Lexend Deca', sans-serif;
}

header {
    background-color: rgb(219, 219, 219);
    height: auto;
    display: flex;
    padding: 25px;
    justify-content: space-between;
    align-items:flex-end;
}

.btn {
    margin: 4px;
}

#bigpic-sentence {
    background-image: url("coffeeshop-phone.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#title {
    color: white; 
    border: 1px solid white; 
    border-radius: 17px; 
    padding: 15px;
    transition: 1s;
    cursor: default;
}

#title:hover {
    transition: 1s;
    font-size: 3rem;
}

.container {
    margin: 0px;
}

#web-graphics-publicity {
    background: #198754;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#portfolio1 {
    background: #198754;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 12px;
}

.card {
    margin: 12px;
}

.logographic {
    height: 220px;
    width: 220px;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}

.onethird {
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}

#web-pic {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    background-image: url('website.jpg');
    border: 5px solid rgb(51, 51, 51);
    background-size: cover;
    background-position-x: center;
}

#graphics-pic {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    background-image: url('NewIsraelSeal.png');
    background-color: white;
    border: 5px solid rgb(51, 51, 51);
    background-size: cover;
    background-position-x: center;
}

#publicity-pic {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    background-image: url('fbgoogle.jpg');
    background-color: white;
    border: 5px solid rgb(51, 51, 51);
    background-size: cover;
    background-position-x: center;
}

h2 {
    color: white;
    margin-top: 15px;
    text-align: center;
}

#about-text {
    background: #525252;
    color: white;
    padding: 20px;
}

h3 {
    text-align: center;
    width: 100%;
    background: rgb(51, 51, 51);
    padding: 12px;
}

footer {
    background: #542c1c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

ul {
   list-style-type: none;
   padding-bottom: 0px;
   margin-bottom: 0px; 
   padding-left: 0px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h5, h6 {
    color: white;
}

#about-title-box {
    height: 200px;
    background-image: url('about.jpg');
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;   
}

#contact-title-box {
    height: 200px;
    background-image: url('contact.jpg');
    background-position: 50% 60%;
    background-size: cover;
    text-align: center;   
}

#portfolio-title-box {
    height: 200px;
    background-image: url('portfolio.jpg');
    background-position: 50% 60%;
    background-size: cover;
    text-align: center;   
}

#graphics-title-box {
    height: 200px;
    background-image: url('graphics/simplified-red-car.jpg');
    background-position: 50% 30%;
    background-size: cover;
    text-align: center;   
}

#nikon-container {
    width: 100%;
}

#nikon {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 300px;
    height: auto;
}


.dark-blur {
    backdrop-filter: blur(4px) brightness(0.5);
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    color: black;
}

.img {
    width: 250px;
    margin: 0px 20px 20px 20px;
    border-radius: 12px;
    float: left;
    
}

.biglink {
    color: yellow;
    text-decoration: none;
}

.pic {
    width: 50%;
    text-align: center;
    margin: 12px;
    border-radius: 12px;
    border: 6px solid #2e1105
}

.center {
    text-align: center;
}

.contactbox {
    display: flex;
    background-color: #835645;
    border-radius: 12px;
    border: 3px solid #542c1c;
    align-items: center;
}

.picbg {
    background-color: #542c1c; 
    border-radius: 9px 0px 0px 9px;
}

.website-card {
    width: 370px;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 12px;
    
}

.website-mockup {
    width: 90%;
    border-radius: 10px;
    border: 3px solid rgb(11, 73, 43)
}

h4 {
 color: #38180b;
 font-weight: bold;
 text-shadow: 0px 0px 8px rgb(255, 255, 255), 0px 0px 8px rgb(255, 255, 255), 0px 0px 8px rgb(255, 255, 255);
 
}

.see-more {
    display: block;
    width: 95%;
    border-radius: 10px;
    margin: 12px;
    font-size: 2rem;
}

.work-block-link {
    width: 100%;
    text-decoration: none;
}

h3:hover {
    background-color: rgb(122, 163, 143);
}

.loading {
    background-image: url('loading.gif');
    background-position: center;
    background-repeat: no-repeat;
}



@media (max-width: 1100px) { 

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar-toggler {
        text-align: center;
        margin: 5px auto;
    }

    .btn {
        margin: 4px;
        width: 100%;
    }

}

@media (max-width: 500px) { 

    .contactbox {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

    .onethird {
        width: 300px;
    }

    .brand {
        width: 80%;
        word-wrap: break-word;
        text-align: center;
    }

    #about-title-box {
        height: 200px;
        background-image: url('about.jpg');
        background-position: 50% 30%;
        background-size: cover;
        text-align: center;   
    }

    .img {
        width: 100%;
        margin: 0px 0px 20px 0px;
    }

    .picbg {
        background-color: #542c1c; 
        border-radius: 9px 9px 0px 0px;
    }

    .website-card {
        width: 100%;
    }

   

   

}